.text--line {
  font-size: 1em;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  animation: stroke-offset 2s ease-in-out;
}
.text-copy:nth-child(1) {
  stroke: #8BC34A;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #F44336;
  stroke-dashoffset: 14%;
}
/* .text-copy:nth-child(3) {
  stroke: #FF9800;
  stroke-dashoffset: 21%;
} */
.text-copy:nth-child(3) {
  stroke: #FFFDE7;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #03A9F4;
  stroke-dashoffset: 28%;
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 28%;
    stroke-dasharray: 12.5% 87.5%;
  }
}